body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #041823;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #444;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

h1{
    color: #d1e0f0;
    font-size: 59.5px;


}

nav ul li a:hover {
    background: #555;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#carros-do-ano {
    background: #f4f4f4;
    padding: 20px 0;
}

.carro {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    background: #fff;
}

.carro img {
    max-width: 300px;
    margin-right: 20px;
}

.carro .descricao {
    max-width: 600px;
}

.carro .descricao h3 {
    margin: 0 0 10px;
}

.carro .descricao .preco {
    font-weight: bold;
    color: #c00;
}

footer {
    background-color: #020b14;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
.imagem-principal {
    max-width: 1000%;
    height: 1000px;
    width: 10000spx;
    margin-top: 0rem;
  }
  .comprar-btn {
    background-color: #6164ff;
    color: rgb(97, 34, 34);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  
  .comprar-btn:hover {
    background-color: #0db938;
    transform: scale(1.05);
  }